{% extends 'BiblioBundle::layout.html.twig' 	%}

{%  block title %}<h1> {{ livre.titre }}</h1>{% endblock %}

{%  block body %}
<strong> Ecrit par : {{ livre.auteur }}</strong>
<p> {{ livre.description }}</p>
<span> Nombre de pages : {{ livre.nombrePages }}</span>
<p><a href="{{ path('page_livres') }}">Retour</a></p>
{% endblock %}